body{
  font-family: "Libre Franklin", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Goudy Bookletter 1911", serif;
}

.pageheader{
  background: no-repeat center/cover url("../img/headero.png");
  height: 100vh;
  width: 100%;
  padding-top: 40vh;
}

.pageheader .text{
  color: #fff;
  text-align: center;
  filter: drop-shadow(8px 8px 3px #000);
}

.about{
  background: linear-gradient(0deg, rgba(234, 188, 43, 0.8), rgba(234, 188, 43, 0.8)), no-repeat center/cover url("../img/tungkol.png");
  height: 100vh;
  width: 100%;
  padding: 14vh 34px;
  color: #fff;
}

.about .main-text{
  overflow-y: scroll;
  min-height: 30%;
  max-height: 40%;
  margin-top: 1em;
  padding-right: 8px;
}
