body{
  font-family: "Libre Franklin", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Goudy Bookletter 1911", serif;
}

.pageheader{
  background: no-repeat center/cover url("../img/headero.png");
  height: 100vh;
  width: 100%;
  padding-top: 40vh;
}

.pageheader .text{
  color: #fff;
  text-align: center;
  filter: drop-shadow(8px 8px 3px #000);
}

.pageheader a{
  color: #7f86db;
}

.about{
  background: linear-gradient(0deg, rgba(234, 188, 43, 0.8), rgba(234, 188, 43, 0.8)), no-repeat center/cover url("../img/tungkol.png");
  height: 100vh;
  width: 100%;
  color: #fff;
}

.about .text-section{
  width:70%;
  float: left;
  padding: 14vh 34px;
}

.about .main-text{
  min-height: 20%;
  max-height: 40%;
  margin-top: 1em;
  padding-right: 8px;
}

.about .gallery{
  background: #464234;
  width: 30%;
  float: left;
  height: 100%;
  padding: 14vh 34px;
}

.about .gallery .img-marquee{
  max-height: 100vh;
}

.about .gallery .img-cell{
  margin: 8px auto;
}

.about .gallery img{
  filter: opacity(1);
}

.events{
  background: linear-gradient(0deg, rgba(175, 175, 175, 0.8), rgba(175, 175, 175, 0.2)), no-repeat center/cover url("../img/events.png");
  min-height: 100vh;
  width: 100%;
  padding: 14vh 17px;
  color: #333;
}

.events .event-listing{
  height: 78vh;
  overflow-y: hidden;
  text-overflow: fade;
  margin: 8px;
}

.events .ev-listing-body{
  overflow-y: scroll;
  height: 30vh;
}

.events .date-slot{
  height: 40vh;
}

.event-listing .date{
  text-align: center;
  padding-top: 10vh;
  border-right: 1px solid #464234;
  height: 100%;
}

.events .add-section{
  text-align: right;
}

.events .add-section .btn{
  text-align: right;
  background: rgb(234, 188, 43);
  color: #fff;
}
